<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Add Subject</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="css/bootstrap.min.css"
          th:href="@{css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />
    <script src="css/js/jq.js"
            th:src="@{css/js/jq.js}"></script>
    <script src="css/js/bootstrap.js"
            th:src="@{css/js/bootstrap.js}"></script>
    <script src="css/js/main.js"
            th:src="@{css/js/main.js}"></script>
    <link href="../static/css/main.css"
          th:href="@{css/main.css}" rel="stylesheet" media="screen"/>
</head>
<body>
<div class="container">
    <div class="jumbotron">
        <div>
            Name <input type="text" id="name" name="name" th:text="${name}" /><br />
            Credits <input type="text" id="credits" name="credits" th:text="${credits}" /><br />
            Prof <input type="text" id="prof" name="prof" th:text="${prof}"/><br />
            Annotation <input type="text" id="annotation" name="annotation" th:text="${annotation}"/><br />
            <button id="adds1">Process</button>
            <a id="link1" href="/" class = "btn btn-info regist">Add</a>
            <!--<input type="submit" />-->
        </div>
    </div>
</div>
</body>
</html>