<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Homepage</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <script src="css/js/jq.js"
            th:src="@{css/js/jq.js}"></script>
    <link href="css/bootstrap.min.css"
          th:href="@{css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />
    <script src="css/js/bootstrap.js"
            th:src="@{css/js/bootstrap.js}"></script>
    <link href="../static/css/main.css"
          th:href="@{css/main.css}" rel="stylesheet" media="screen"/>
</head>
<body>
<div class="container">
    <div class="jumbotron">
        <a href="/all" class="btn btn-primary">List all subjects</a>
        <a href="/all-users" class="btn btn-primary">List all users</a>

        <a href="/new-subject" class="btn btn-info">Add a subject</a>
        <a href="/new-user" class="btn btn-info">Register</a>

        <a href="/all-recommended" class="btn btn-primary">List all recommended subjects</a>
        <a href="/login" class="btn btn-success">Login</a>
        <a href="/logout" class="btn btn-success">Logout</a>
    </div>
</div>
</body>
</html>